 <%= render partial: 'products/product_details', locals: { product: @product} %>

<%= link_to 'Editar producto', edit_product_path(@product) if @product.owner?%>

<%= link_to 'Eliminar producto', product_path(@product), data: {
    turbo_method: :delete,
    turbo_confirm: t('common.confirm')
} if @product.owner?%>

<%= link_to "Ver mas productos de #{@product.user.username}" , user_path(@product.user.username) %>

<%= render partial: 'favorite', locals: { product: @product} %>

<!--<div data-controller="websocket-product" data-productid="<%= @product.id %>"></div>> -->

<%= turbo_stream_from @product %>
